@typeparam TBalance
@inject AccountUpdateService<TBalance> accountUpdateService;
<h5>Account Balance:</h5>

<p role="status" >@Balance.ToString()</p>


@code
{
    protected override void OnInitialized()
    {
        accountUpdateService.Accounts.Add(this);
        accountUpdateService.TransferEvent += Transfer;
    }
    private void Transfer(BankAccount<TBalance> dst, TBalance amount)
    {
        if (dst != this) return;
        Transfer(amount);
        accountUpdateService.BalanceChanged();
    }

}
