<h5>Your Account Balance:</h5>

<p role="status" style="color: @color">@CurrentBalance.ToString("C0")</p>

<p role="status"><b>@Message</b></p>

<button class="btn btn-primary" @onclick="HandleClick">Add $1 🤑</button>