@page "/NonAssociativeMath"

<h3>Addition is non-associative!</h3>

The loss of precision at large values for floating-point numbers means that addition is no longer associative. 
In other words, the order we add numbers matters. This can have catastrophic consequences when we need precision

<BankAccount @ref="Account" TBalance="float"/>

<br/>
<br/>

@if (!CollapseExplanation)
{
    <div><h3>What happened?</h3> 
        <p>
            adada
        </p>
    </div>
}

@code
{
    public BankAccount<float> Account { get; set; }
    [Parameter] public bool CollapseExplanation { get; set; } = true;
    
    public void DisplayExplanation()
    {
        CollapseExplanation = false;
    }
}